<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head'); %>
    <link rel="stylesheet" type="text/css" href="/css/album_list.css">
</head>
<body>
    <%- include('includes/nav'); %>

    <div class="content">
        <div class="albums-grid">
            <% albums.forEach((album, index) => { %>
                <div class="album-card" style="--index: <%= index %>">
                    <div class="album-image" style="background-image: url('<%= album.imageurl %>');">
                        <div class="album-ranking">#<%= album.ranking %></div>
                    </div>
                    <div class="album-info">
                        <h3 class="album-name"><%= album.album %></h3>
                        <p class="album-artist"><%= album.artist %></p>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</body>
</html>
